.line{
  fill: none;
  stroke: black;
  stroke-width: 5px;
}

.presentationVisualization {
  width: inherit;
  margin-right: 50vh;
}

img#loading-icon {
  padding-top: 15%;
  cursor: wait;
  transform: scale(2,2);
}

#snap-info-cont {
  margin-top: 50px;
}

#snap-info-cont div.panel {
  margin-bottom: 5vh;
}
